<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8" />
  <title>Hello world!</title>
 
	<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/cropper.min.js')}}"></script>
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/cropper.css')}}" />

	<img src="static/img/more.png" id="image" />

</head>
<body>

It works!

<script>

document.getElementById('image').onload = function () {
    new Cropper(this, {
        update: function (coordinates) {
			$.ajax({
			  type: "POST",
			  url: "http://127.0.0.1:5000/image",
			  data: {x:coordinates.x, y:coordinates.y, w: coordinates.width,h:coordinates.height},
			  success: function(res){
				console.log(res)
			  }
			});
			console.log(coordinates)
		}
    });
}

</script>

</body>
</html>
